@import "tailwindcss";

body, html {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#root {
  height: 100%;
}