@import "tailwindcss";

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow-y: scroll; Keeps layout stable */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}

.hide-scrollbar-general::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar-general {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE/Edge */
}

.hide-scrollbar-general {
  scroll-behavior: smooth;
}

.animation-delay-150 {
  animation-delay: 150ms;
}
